body {margin: 0;padding: 0;background-color: #FAFAFA;font: 12pt "Tahoma";}
*{box-sizing: border-box;-moz-box-sizing: border-box;}
.page {width: 21cm;min-height: 29.7cm;margin: 1cm auto;border: 1px #D3D3D3 solid;border-radius: 5px;background: white;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
.subpage {padding: 1cm;border: 5px red solid;height: 237mm;outline: 2cm #FFEAEA solid;}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.printReport{width: 100%; padding: 0 5px 0 5px; background: #fff; margin: 0 auto 0 auto;}
.printReport .pageTitle{width: 100%;height: 40px; border-bottom: 4px solid #78909c; margin: 0;}
.printReport .pageTitle span{font-size: 25px; font-weight: bold; padding: 0 0 0 10px;}
.printReport .wrapper{width: 100%; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0;
}
.printReport .box{width: 100%; min-height: 100px;}
.printReport .box .title{padding: 0 0 0 10px; margin: 0 0 10px 0; }
.printReport .box .title span{font-weight: bold; font-size: 16px;}
.printReport .box .subtitle{padding: 0 0 0 20px; margin: 0 0 10px 0;}
.printReport .box .subtitle span{font-weight: bold; font-size: 14.5px;}
.printReport .box .subtitle span:nth-of-type(2){font-weight: normal;}
.printReport .box .item{width: 100%; padding: 0 20px 0 30px; margin: 0 0 5px 0;}
.printReport .box .item span:first-of-type{font-weight: bold; font-size: 14.5px;}
.printReport .box .item span:nth-of-type(2){font-size: 13.5px;}
.printReport .row{padding: 0; margin: 0;}


.right_border{border-right: 1px solid #e0e0e0;}
.left_border{border-left: 1px solid #e0e0e0;}
.bottom_border{border-bottom: 1px solid #e0e0e0;}
.divisor{width: 100%; height: 1px; border-bottom:1px solid #e0e0e0 ;}

#chartManifestacoes{width: 100%; height: 300px; margin: 0 0 10px 0;}
#chartSituacao{width: 100%; height: 330px; margin: 0 0 10px 0;}
#chartOrigem{width: 100%; height: 280px; margin: 0 0 10px 0;}
#chartProveniencia{width: 100%; height: 280px; margin: 0 0 10px 0;}
#chartUnidadeEnvolvida{width: 100%; height: 200px; margin: 0 0 10px 0;}